.container {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  box-sizing: border-box;

  .results {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .photo {
      width: 400px;
      height: 250px;
      border-radius: 0.5rem;
      margin: 0.25rem;
    }

    .text {
      width: 400px;
      height: 250px;
      overflow-y: auto;
      background-color: var(--surface-highlight-background-color);
      box-shadow: 1px 1px 3px var(--surface-highlight-shadow-color);
      color: var(--surface-highlight-text-primary-color);
      font-weight: bold;
      padding: 1rem;
      border-radius: 0.5rem;
      margin: 0.25rem;
      box-sizing: border-box;
    }
  }

  button {
    background-color: var(--surface-background-color);
    border: none;
    color: var(--surface-text-secondary-color);
    font-weight: bold;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
}